<h1><%= @post.description %></h1>
<%= link_to 'Leave a comment', new_post_comment_path(@post) %>
<hr>

<% if !@comments.nil? %>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Comment</th>
			<th></th>
			<th></th>
		</tr>
		<% @comments.each do |comment| %>
			<tr>
				<td><%= comment.count_votes %></td>
				<td><%= comment.body %></td>
				<td><%= button_to 'Upvote', new_comment_upvote_path(comment, data: { vote: true }) %></td>
				<td><%= button_to 'Downvote', new_comment_upvote_path(comment, data: { vote: false }) %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>Be the first to leave a comment</p>
<% end %>
