<h1><%= @article.title %></h1>

<% if user_signed_in? %>
  <%= form_for :comment do |f| %>
    <%= f.label :content, 'content', class: 'display-none' %><%= f.text_area :content, cols: 30, rows: 8 %><br>
    <%= f.submit 'add comment' %>
  <% end %>
<% end %>
<% @comments.each do |comment| %>
<article>
  <p><%= comment.content %></p>
  <ol class="submenu">
    <li><%= comment.votes_count %></li>
    <li><%= link_to 'vote up', article_comment_vote_path(@article, comment, direction: true), method: :post %></li>
    <li><%= link_to 'vote down', article_comment_vote_path(@article, comment, direction: false), method: :post %></li>
  </ol>
</article>
<% end %>

<%= link_to 'back', root_path %>
