<h2>
	<%= link_to @post.title, @post.link %>
</h2>

<p>
	<%= render partial: "posts/votes", locals: {post: @post} %>

	<%= @post.count_votes %> votes |
	posted by <%= @post.user.email %>
	<%= time_ago_in_words(@post.created_at).gsub('about','') %> ago |

	<% if @post.comments.count > 0 %>
		<%= pluralize(@post.comments.count, "comment") %>
	<% end %>
</p>

<p><%= @post.description %></p>

<h3>Comments</h3>

<%= form_for [@post, @comment] do |f| %>
	<p><%= f.hidden_field :body %></p>
	<p><%= f.text_area :body %></p>
	<p><%= f.submit "Submit Comment" %></p>
<% end %>


<% @post.comments.each do |comment| %>
	<article class="comment_<%= comment.id %>" id="<%= comment.id %>">
		<p style="margin-left: 0px; margin-bottom: 0px;">
			<%= comment.count_votes %> votes

			<%= render partial: "votes", locals: {post: @post, comment: comment} %>

			<%= comment.user.email %>
			<%= time_ago_in_words(comment.created_at).gsub('about','') %> ago
			<a href="#<%= comment.id %>">link</a>
		</p>
		<p style="margin-left: 20px"><%= comment.body %></p>
	</article>
<% end %>
