<section class="Comments-For-Article">
<h1>leave a comment on: <%= @article.title %> </h1>
  <div>
  <% if user_signed_in? %>
    <%= form_for :comment do |f| %>
      <%= f.label :content, 'content', class: 'display-none'%>
  		<%= f.text_area :content, cols: 30, rows: 15 %>
      <%= f.submit 'create comment' %>
    <% end %>
  <% end %>
  </div>

  <nav class="Comments-Detials-Nav">
  <% @comments.each do |comment| %>
    <%= comment.content %>
      <% if user_signed_in? %>
      <p>
      <%= link_to 'vote up on comment', article_comment_up_vote_path(@article.id, comment.id), method: :post, :class => "btn btn-primary btn-sm" %> <%= link_to 'vote down on comment', article_comment_down_vote_path(@article.id, comment.id), method: :post, :class => "btn btn-primary btn-sm"%>
      </p>
       <% else %>
       <p> Sign in for more options </p>
       <% end %>
  <% end %>
  </nav>
  <%= link_to 'back', root_path %>
</section>
