<h1><%= @article.title %></h1>

<%= form_for :comment do |f| %>
  <%= f.label :content, 'content' %><%= f.text_field :content %>
  <%= f.submit 'add comment' %>
<% end %>
<% @comments.each do |comment| %>
<article>
  <p><%= comment.content %></p>
  <ol>
    <li><%= comment.count_votes %></li>
    <li><%= link_to 'vote up', [@article, comment, :vote_up] %></li>
    <li><%= link_to 'vote down', [@article, comment, :vote_down] %></li>
  </ol>
</article>
<% end %>

<%= link_to 'back', @article %>
