<h1><%= @submission.title %></h1>

<% @comments.each do |comment| %>
<ul>
  <li>Comment: <%= comment.body %></li>
  <li><%= button_to 'Up vote', submission_comment_votes_path(@submission.id, comment.id), method: :post %></li>
  <li>Vote Count: <%= comment.votes.where(direction: true).count %></li>
</ul>
<% end %>

<%= link_to "All Submissions", submissions_path %>
