<h1><%= @post.title %></h1>

<%= link_to "Add comment", new_post_comment_path %>
<ul>
<% @comments.each do |comment| %>
<div class="comment" id="<%= comment.id %>">
	<li><%= comment.comment %></li>created by <%= User.find(comment.user_id).email	 if comment.user_id.present? %></dt><%= comment.votes.where(direction: true).count %> <%= link_to "^", new_post_comment_vote_path(@post, comment, :baz => "up") %> <%= link_to "-", new_post_comment_vote_path(@post, comment, :baz => "down") %>
	</div>
<% end %>
</ul>


<%= link_to "back", posts_path %>


Vote the comment
