<h1>leave a comment</h1>

<% if user_signed_in? %>
  <%= form_for :comment do |f| %>
    <%= f.label :content, 'content', class: 'display-none'%>
		<%= f.text_field :content %>
    <%= f.submit 'create comment' %>
  <% end %>
<% end %>
<% @comments.each do |comment| %>
  <%= comment.content %>
  <ol>
    <li><%= comment %></li>
    <li><%= link_to 'vote up'%></li>
    <li><%= link_to 'vote down'%></li>
<% end %>

<%= link_to 'back', root_path %>
