<ol>
  <% @articles.each do |article| %>
  <li class="article-container">
    <%= link_to article.title, article.url %>
    <p><%= article.text %></p>
    <ul class="submenu">
      <li>votes (<%= article.count_votes %>)</li>
      <% if user_signed_in? %>
        <li><%= link_to 'vote up',  [article, :vote_up] %> | <%= link_to 'vote down', [article, :vote_down] %></li>
      <% end %>
      <li><%= link_to 'comments', [article, :comments] %> (<%= article.count_comments %>)</li>
      <% if article.user %>
        <li>submitted by (<%= article.user.email %>)</li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ol>
