<h1>Hacker news</h1>
<ol>
	<table>
		<tr>
		<th>Articles List</th>
		</tr>
		<% @articles.each do |article| %>
			<tr>
			<td><li></td>
			<td><%= button_to 'Up vote', new_article_vote_path(article, data: {up: true})  %></td>
			<td><%= button_to 'Down vote', new_article_vote_path(article, data: {up: false}) %></td>
			<td><%= link_to article.title, article.url, target: '_blank' %></td>
			</tr>
			<tr>
			<td><%= article.get_votes %> points</td>
			<td><%= link_to 'comments', article_path(article) %></td>
			</li>
			</tr>

		<% end %>
	</table>
</ol>


<%= link_to 'Add article', new_article_path %>