
<h2>All Articles:</h2>


<table>
<tr>
	<th>Title</th>
	<th>Description</th>
	<th>Comment</th>
</tr>
<% @articles.each do |article|%>
	<tr>
		<td> <%= article.title %> </td>
		<td> <%= article.blurb %> </td>
		<td> <%= link_to "comment", [article, :comments] %> </td>
		<td> <%= link_to "more", article_path(article.id) %></td>
	</tr>
<%end%>
</table>

<%= link_to "add article", new_article_path %>


