<h2><%= @article.title %></h2>
<h4 class='sub-line'><%= @article.get_votes %> points | <%= @article.comments.count %> comments</h4>

<div class='margin-bottom'>
	<%= render partial: 'article_comment_form' %>
</div>

<% @comments.each do |comment| %>
<div class='comment-section'>
	<ul>
		<l1 class='sub-line'><%= time_ago_in_words(comment.created_at) %></l1>
		<li><%= comment.body %></li>
		<li>
			<ul>
				<li class='inline'><%= comment.get_votes %> points </li>
				<li class='inline'><%= button_to 'Up vote', new_comment_vote_path(comment, data: {up: true}) %></li>

				<li class='inline'><%= button_to 'Down vote', new_comment_vote_path(comment, data: {up: false}) %></li>
				<li><%= link_to 'Reply to comment', [:new, @article, comment, :comment] %>
			</ul>
		</li>
	</ul>

	<div class='nested'>
		<p>Replies</p>
		<ul class='nested'>
			<% comment.sub_comments.each do |comment| %>
				<l1 class='time'><%= time_ago_in_words(comment.created_at) %></l1>
				<li><%= comment.body %></li>
			<% end %>
		</ul>
	</div>
</div>

<% end %>
