<h2><%= @article.title %></h2>

<% @comments.each do |comment| %>
<ul>
	<li><%= comment.body %></li>
	<li>
		<ul>
			<li class='inline'><%= comment.get_votes %> points </li>
			<li class='inline'><%= button_to 'Up vote', new_comment_vote_path(comment, data: {up: true}) %></li>

			<li class='inline'><%= button_to 'Down vote', new_comment_vote_path(comment, data: {up: false}) %></li>
		</ul>
		</li>
</ul>

<% end %>


<%= link_to 'Add comment', new_article_comment_path(@article) %>