<h2>Article Page:</h2>


<table>
<tr>
	<th>Title</th>
	<th>Description</th>
	<th>Comments</th>
	<th>Vote Count</th>
	<th>new comment?</th>
	<th>vote on it?</th>
</tr>
	<tr>
		<td> <%= @article.title %> </td>
		<td> <%= @article.blurb %> </td>
		<% @article.comments.each do |comment| %>
		<td> <%= comment.content %> vote on comment?<%= link_to "vote on comment", [:new, comment, :vote ] %></td>
		<% end %>
		<td> votes:<%= @article.votes.count %></td>
		<td> <%= link_to "Comment", new_comment_path %> </td>
		<td> vote on article?<%= link_to "vote on article", [:new, @article, :vote ] %> </td>
	</tr>
</table>
