<h1>Hacker News</h1>

<table>

<% @submissions.each do |submission| %>
<tr>
  <td><%= link_to "#{submission.title}", submission_path(submission.id) %></td>
  <td><%= submission.link %></td>
  <td><%= submission.description %></td>
  <td><strong>User ID: </strong><%= submission.user_id %></td>
  <td><%= button_to 'Up vote', submission_votes_path(submission.id), method: :post %></td>
  <td><strong>Votes: </strong><%= submission.votes.where(direction: true).count %></td>
  <% end %>
</tr>
</table><br>

<%= link_to 'New Submission', new_submission_path %>
