<h1>Submission</h1>

<table>
<tr>
<th>Title</th><th>Link</th><th>Description</th><th>User ID</th>
</tr>
<tr>
  <td><%= @submission.title %></td>
  <td><%= @submission.link %></td>
  <td><%= @submission.description %></td>
  <td><%= @submission.user_id %></td>
</tr>

<%= link_to "View comments", submission_comments_path(@submission.id) %>
<%= link_to "Leave comment", new_submission_comment_path(@submission.id) %>

