<% if user_signed_in? == false %>
	<%= link_to '[+]', [post, :upvote] %>
	<%= link_to '[-]', [post, :downvote] %>
<% elsif post.votes.where(user_id: current_user.id, direction: true).present? %>
	<span class="grayed_out">[+]</span>
	<%= link_to '[-]', [post, :novote] %>
<% elsif post.votes.where(user_id: current_user.id, direction: false).present? %>
	<%= link_to '[+]', [post, :novote] %>
	<span class="grayed_out">[-]</span>
<% else %>
	<%= link_to '[+]', [post, :upvote] %>
	<%= link_to '[-]', [post, :downvote] %>
<% end %>
