<h1>All Posts</h1>
<%= link_to 'Submit post', new_post_path %>
<table class="table">
	<tr>
		<th># Votes</th>
		<th>Description</th>
		<th></th>
		<th></th>
	</tr>
	<% @posts.each do |post| %>
	<tr class="article">
		<td><%= post.count_votes %></td>
		<td id="article_#{post.id}"><%= link_to post.description, "#{post.link}" %></td>
		<td><%= post.user.email %></td>
		<% if user_signed_in? %>
			<td><%= button_to 'Upvote', new_post_upvote_path(post, data: { vote: true }) %></td>
			<td><%= button_to 'Downvote', new_post_upvote_path(post, data: { vote: false }) %></td>
		<% end %>
		<td><%= link_to "#{post.count_comments} comments", post_comments_path(post.id) %></td>
	</tr>

<% end %>
</table>
