<% if user_signed_in? %>
	signed in as <%= current_user.email %>
	<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to 'Sign in', new_user_session_path %>
	<%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<p><%= link_to 'Submit a Link', new_post_path %></p>


<h2> All Posts </h2>
<% @posts.each do |post| %>
	<h3><%= link_to "#{post.link}", post.link %></h3>
	<ul>
		<li><%= post.description %></li>
	</ul>
<% end %>

