<h3><%= link_to 'Submit Link', new_post_path %></h3>

<% @posts.each do |post| %>
	<article class="post_<%= post.id %>">
		<h3>
			<%= link_to post.title, post.link %>
		</h3>
		<p style="margin-left: 20px;"><%= post.description %></p>
		<p style="margin-left: 20px;">

		  <%= render partial: "votes", locals: {post: post} %>

			<%= post.count_votes %> votes |
			posted by <%= post.user.email %>
			<%= time_ago_in_words(post.created_at).gsub('about','') %> ago |

			<% if post.comments.count == 0 %>
				<%= link_to "comment", [post, :comments] %>
			<% else %>
				<%= link_to pluralize(post.comments.count, "comment"), [post, :comments] %>
			<% end %>

		</p>

	</article>
<% end %>

