
<% if user_signed_in? %>
signed in as <%= current_user.email %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %><br>
<span style="color:red"><%= flash[:success] %></span>
<span style="color:red"><%= flash[:miig] %></span>
<h3><%= link_to "Submit link", new_post_path %></h3>
<% else %>
<%= link_to 'Sign in', new_user_session_path %>
<%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<h1>All Posts</h1>
<dl>
<% @posts.each do |post| %>
	<dt><h2><%= link_to post.title, post.links.include?("http") ? post.links : "http://#{post.links}" %> </h2></dt>
	<h3><%= post.article %></h3><br>
	 <%= link_to "^", new_post_vote_path(post, :baz => "up") %> <%= link_to "-", new_post_vote_path(post, :baz => "down") %><%= post.votes.where(direction: true).count - post.votes.where(direction: false).count %> votes <span>&nbsp</span><%= link_to "#{pluralize(post.comments_count, 'comments')} ", post_comments_path(post) %>, created by <%= post.user.email if post.user_id != nil%></dd><br><br>
<% end %>
</dl>


