<h3><%= link_to 'Submit', new_post_path %></h3>

<div class="alert alert-danger"><%= flash[:alert] %></div>

<% @posts.each do |post| %>
	<article class="post_<%= post.id %>">
		<h3>
			<%= link_to '[+]', [post, :upvote] %>
			<%= link_to '[-]', [post, :downvote] %>
			<%= link_to post.title, post.link %>
		</h3>
		<p style="margin-left: 20px;"><%= post.description %></p>
		<p style="margin-left: 20px;">
			<%= post.votes.where(direction: true).count - post.votes.where(direction: false).count %> votes
			by <%= post.user.email %>
			<%= time_ago_in_words(post.created_at).gsub('about','') %> ago |
			<% if post.comments.count == 0 %>
				<%= link_to "comment", post_comments_path(post) %>
			<% elsif post.comments.count == 1 %>
				1 <%= link_to "comment", post_comments_path(post) %>
			<% else %>
				<%= post.comments.count %>
				<%= link_to "comments", post_comments_path(post) %>
			<% end %>
		</p>

	</article>
<% end %>

