<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>

	<%= render 'layouts/nav' %>

		<div id='flash-section'>

			<p class="alert"><%= flash[:warning] %></p>
		  <p class="notice"><%= flash.now[:notice] %></p>
		  <p class="error"><%= flash.now[:error] %></p>

		</div>

		<%= yield %>

	</div>
</body>
</html>
