<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>

	<%= render 'layouts/nav' %>

		<div id='flash-section'>

			<% if flash[:alert].present? %>
  			<p class="alert"><%= flash.now[:alert] %></p>
			<% end %>

			<% if flash[:notice].present? %>
			  <p class="notice"><%= flash.now[:notice] %></p>
			<% end %>

		</div>

		<%= yield %>

	</div>
</body>
</html>
