<!DOCTYPE html>
<html>
	<head>
	  <title>HackerNews</title>
	  <%= stylesheet_link_tag "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<h1>The Content-Shareing & Comment-Having Mega-Site of the Future</h1>
	<div class="container">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
	<div class="pull-right">
		<% if user_signed_in? %>
		  | Signed in as <%= current_user.email %> |
		  | Not you? <%= link_to "Sign Out", destroy_user_session_path, method: :delete%> |
		<% else %>
		 | <%= link_to "Sign Up", new_user_registration_path %> | or | <%= link_to "Sign In?", new_user_session_path %> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete%> |
		<% end %>
	</div>
	</div>
	</body>
</html>
